<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">Inventory </div>
    <div class="list-group list-group-flush">
      <a routerLink="/store" routerLinkActive="active_link" class="list-group-item list-group-item-action"><fa-icon [icon]="faStore" title="Toggle Menu"></fa-icon> Store</a>
      <a routerLink="/warehouse" routerLinkActive="active_link" class="list-group-item list-group-item-action "><fa-icon [icon]="faWarehouse" title="Toggle Menu"></fa-icon> Warehouse</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="btn btn-primary" (click)="clickEvent()"><fa-icon [icon]="faBars" title="Toggle Menu"></fa-icon></button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info" type="button">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
